/* Smallers markers popups on hover */
.marker-popup-hover .leaflet-rrose-content {
	margin: 2px 5px;
}
.marker-popup-hover .leaflet-rrose-tip {
	height: 10px;
}
.marker-popup-hover .leaflet-rrose-tip-container {
	height: 6px;
}

/* Markers popups on click */
.marker-popup-click .leaflet-popup-content-wrapper {
	border-radius: 0;
}
.marker-popup-click p {
	margin: 1px;
}
